.category-manager p > input.display-none{
	display: none;
}

.category-manager .form-text-parent{
	background-color: #fff;
	border: 1px solid #e0e0e0;
	width: 400px;
	height: auto;
	margin-bottom: 10px;
	padding: 10px;
}
.category-manager .form-text-children{
	background-color: #fff;
	border: 1px solid #e0e0e0;
	width: 400px;
	height: auto;
	margin: 0 0 0 40px;
	padding: 10px;

}
.category-manager .form-text-grandchild{
	background-color: #fff;
	border: 1px solid #e0e0e0;
	width: 400px;
	height: auto;
	margin: 5px 0 0 80px;
	padding: 10px;

}
ul.sortable li.placeholder{
	background-color: #333;
	color: #fff;
	border: 1px solid #e0e0e0;
	width: 400px;
	height: auto;
	margin-bottom: 10px;
	padding: 10px;
}
ul.sortable li.placeholder:before{
	content:"Sort Here";
}
.category-manager form div span{
	font-size: 10px;
	vertical-align: bottom;
}
/*
.category-manager label input[type=checkbox]:checked:before {
	content: '\353';
	margin: -39px 0 0 11px;
	font: 400 43px/1 dashicons;
	color: #ff0000;
}
*/
#submit_button{
	padding: 4px 22px;
	font-size: 1.0em;
	background-color: #3498db;
	color: #fff;
	border-style: none;
	cursor: pointer;
}
.exclude-area{
	margin-top: 40px;
}
.exclude-area form .exclude-submit{
	margin: 0 0 10px 10px;
	padding: 4px 10px 4px;
	font-size: 0.9em;
	background-color: #16a085;
	color: #fff;
	border-style: none;
	cursor: pointer;
}
