.category-manager p > input.display-none{
	display: none;
}
.category-manager .form-text-parent{
	margin-top: 20px;
}
.category-manager .form-text-children{
	margin-top: 5px;
}
.category-manager .form-text-grandchild{
	margin-top: 5px;
}
.category-manager form div span{
	font-size: 10px;
	vertical-align: bottom;
}
.category-manager label input[type=checkbox]:checked:before {
	content: '\353';
	margin: -39px 0 0 11px;
	font: 400 43px/1 dashicons;
	color: #ff0000;
}
.category-manager .children_value:before{
	content:"ー";
}
.category-manager .grandchild_value:before{
	content:"ーー";
}
